#form_login {
    margin-left: 20%;
    margin-right: 20%
}

#text_form_login_header {
    margin-top: 15px;
    margin-bottom: 15px
}

#title {
    text-align: center;
    margin: 15px;
}

.layout_color {
    background-color: #228B22;
    color: white
}

.w3-bar-item {
    text-decoration: none;
}

.w3-bar-item:hover {
    background-color: #228B22;
    color: white
}

#user_icon {
    font-size: 100px;
    margin-left: calc(50% - 50px)
}

.icon_links {
    font-size: 30px;
    vertical-align: middle
}

.text_bar_item {
    display: inline;
    vertical-align: middle;
    margin-left: 10px
}

#logo {
    font-size: 50px;
    margin: 10px;
    vertical-align: middle
}

#title_logged {
    font-family: verdana;
    display: inline;
    vertical-align: middle
}

#dashboard h3 {
    margin-top: 20px
}

#dashboard h3, p {
    font-family: verdana;
    margin-left: 20px
}