<template>
<div class="app">

    <!-- Barra lateral -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">

        <i id="user_icon" class="material-icons">person</i>
        
        <div v-if="user.role == 1">
            <h3 style="text-align: center">{{ user.name }}</h3>
        </div>
        <div v-else>
            <h3 style="text-align: center">{{ user.name }} (Admin)</h3>
        </div>
        
        <a id="btnDashboard" href="#" v-on:click="page = 'dashboard', select_color_button(1)" class="w3-bar-item item_bar">
            <i class="material-icons icon_links">dashboard</i>
            <div class="text_bar_item">Dashboard</div>
        </a>
        <a id="btnRegisters" href="#" v-on:click="page = 'registers', select_color_button(2)" class="w3-bar-item item_bar">
            <i class="material-icons icon_links">event_note</i>
            <div class="text_bar_item">Meus Registros</div>
        </a>
    </div>

    <!-- Restante da tela -->
    <div style="margin-left:20%">

        <!-- Barra superior -->
        <div class="w3-container layout_color">

            <i id="logo" class="material-icons">access_time</i>
            <h2 id="title_logged">Time Register</h2>

            <a href="#" v-on:click="logout()" class="w3-button w3-xlarge w3-right">
                <i class="material-icons icon_links">logout</i>
            </a>
        </div>

        <!-- Conteúdo da página dashboard -->
        <div v-if="page == 'dashboard'">

            <div v-if="user_role == 1">

                <div id="dashboard">
                    <h3><b>Seja bem-vindo(a) {{ user.name }}</b></h3>
                    <p>Aqui você pode registrar o seu ponto e visualizar os já registrados.</p>
                    <p>Para isso clique no botão "Meus Registros", no menu ao lado.</p>
                    <p>Os registros dos demais colaboradores só podem ser visualizados por administradores.</p>
                </div>
            </div>

            <div v-if="user_role == 2">

                <div class="w3-container">

                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <h2 style="display: inline"><b>Todos os Registros</b></h2>
                    </div>

                    <table class="w3-table w3-bordered">
                        <tr>
                        <th>Colaborador</th>
                        <th>Data</th>
                        <th>Hora</th>
                        </tr>
                        <tr v-for="register in all_registers" v-bind:key="register.id">
                            <td>{{register.user_name}}</td>
                            <td>{{format_date(register.time_registered)}}</td>
                            <td>{{format_time(register.time_registered)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Conteúdo da página de registros do usuário -->
        <div v-if="page == 'registers'">

            <div class="w3-container">
                
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <h2 style="display: inline"><b>Meus Registros</b></h2>
                    <button v-on:click="open_modal()" class="w3-button w3-right layout_color" style="display: inline">Registrar</button>
                </div>
                
                <table class="w3-table w3-bordered">
                    <tr>
                    <th>Colaborador</th>
                    <th>Data</th>
                    <th>Hora</th>
                    </tr>
                    <tr v-for="register in registers" v-bind:key="register.id">
                        <td>{{register.user_name}}</td>
                        <td>{{format_date(register.time_registered)}}</td>
                        <td>{{format_time(register.time_registered)}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Modal de registro -->
        <div id="id01" class="w3-modal">

            <div class="w3-modal-content w3-card-4">

                <header class="w3-container layout_color" style="margin-bottom: 10px"> 
                    <span onclick="document.getElementById('id01').style.display='none'" 
                    class="w3-button w3-display-topright">&times;</span>
                    <h2>Novo Registro</h2>
                </header>

                <div class="w3-container">
                    <label><b>Data e Hora Atual</b></label>
                    <input id="input_date" class="w3-input w3-border w3-margin-bottom" type="text" required disabled>
                    <button v-on:click="create_register()" class="w3-button layout_color" style="margin-bottom: 15px">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    export default {

        data () {
            return {
                user: {
                    name: '',
                    email: '',
                    password: '',
                    role: 1
                },
                registered_time: {
                    time_registered: '',
                    user_id: null
                },
                registers: [],
                all_registers: [],
                date: null,
                user_role: 0,
                page: 'dashboard'
            }
        },

        mounted() {

            Pusher.logToConsole = true;

            // Instância do Pusher
            var pusher = new Pusher('2391b1cb0e0244b74b2b', {
                cluster: 'us2'
            });

            // Canal de comunicação que recebe dados do Pusher
            var channel = pusher.subscribe('register-channel');
                channel.bind('App\\Events\\CreateRegisteredTime', data => {
                    if (this.user_role == 2) {
                        this.get_all_registers();
                    }
                });
        },

        beforeUpdate() {
            this.user_role = this.user.role;
        },

        created() {
            this.get_user();
            this.get_registers();
            this.get_all_registers();
        },

        methods: {

            // Busca o usuário autenticado no sistema
            async get_user() {
                axios
                    .get("/get_user")
                    .then((response) => (this.user = response.data));
            },

            // Busca os registros do usuário autenticado
            async get_registers() {
                axios
                    .get("/registers")
                    .then((response) => (this.registers = response.data));
            },

            // Busca os registros de todos os usuários (para administradores)
            async get_all_registers() {
                axios
                    .get("/all_registers")
                    .then((response) => (this.all_registers = response.data));
            },

            // Cria um novo registro
            async create_register() {
                axios
                    .post("/create_register", this.date)
                    .then((response) => {
                        this.get_registers();
                        this.get_all_registers();
                });
                document.getElementById('id01').style.display = 'none';
            },

            // Faz logout no sistema
            async logout() {
                axios
                    .get("/user/logout");
                window.location.href = '/';
            },

            // Abre o modal de registro e insere a data atual na visualização
            open_modal() {

                document.getElementById('id01').style.display = 'block';

                this.date = new Date();

                var hours = this.date.getHours() < 10 ? '0' : '';
                hours += this.date.getHours();

                var minutes = this.date.getMinutes() < 10 ? '0' : '';
                minutes += this.date.getMinutes();

                var date_format = this.date.getDate() + '/'
                    + (this.date.getMonth() +1 ) + '/'
                    + this.date.getFullYear() + ' '
                    + hours + ':'
                    + minutes;

                document.getElementById('input_date').value = date_format;
            },

            // Função que mantém o botão selecionado na barra lateral
            select_color_button(option) {

                var btnDashBoard = document.getElementById('btnDashboard');
                var btnRegisters = document.getElementById('btnRegisters');

                if (option == 1) {
                    btnRegisters.classList.remove('layout_color');
                    btnDashBoard.classList.add('layout_color');
                } else {
                    btnDashboard.classList.remove('layout_color');
                    btnRegisters.classList.add('layout_color');
                }
            },

            // Formata data que vem do banco de dados
            format_date(date_time) {
                
                var date = date_time.split(' ')[0];

                var date_split = date.split('-');

                var year = date_split[0];
                var month = date_split[1];
                var day = date_split[2];

                return day + '/' + month + '/' + year;
            },

            // Formata hora que vem do banco de dados
            format_time(date_time) {
                
                var time = date_time.split(' ')[1];

                var time_split = time.split(':');

                var minutes = time_split[0];
                var seconds = time_split[1];

                return minutes + ':' + seconds + 'h';
            }
        }
    }
</script>
